{
	"env": {
		"es6": true,
		"node": true,
		"jest/globals": true
	},
	"plugins": [
		"@typescript-eslint",
		"jest",
		"node",
		"only-warn"
	],
	"extends": [
		"eslint:all",
		"plugin:@typescript-eslint/all",
		"plugin:jest/all",
		"plugin:node/recommended"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2020,
		"project": "tsconfig.json",
		"sourceType": "module"
	},
	"rules": {
		"@typescript-eslint/ban-ts-comment": ["warn", {
			"ts-expect-error": false
		}],
		"@typescript-eslint/explicit-member-accessibility": ["warn", { "accessibility": "no-public" }],
		"@typescript-eslint/indent": "off",
		"@typescript-eslint/no-magic-numbers": "off",
		"@typescript-eslint/no-type-alias": "off",
		"@typescript-eslint/no-unnecessary-condition": ["warn", { "ignoreRhs": true }],
		"@typescript-eslint/no-unsafe-assignment": "off",
		"@typescript-eslint/no-unsafe-return": "off",
		"@typescript-eslint/no-unused-vars-experimental": ["warn", { "ignoreArgsIfArgsAfterAreUsed": true }],
		"@typescript-eslint/no-use-before-define": "off",
		"@typescript-eslint/prefer-readonly-parameter-types": "off",
		"@typescript-eslint/quotes": ["warn", "single"],
		"@typescript-eslint/restrict-template-expressions": "off",
		"@typescript-eslint/space-before-function-paren": ["warn", {
			"anonymous": "never",
			"named": "never",
			"asyncArrow": "always"
		}],
		"@typescript-eslint/strict-boolean-expressions": "off",
		"@typescript-eslint/typedef": "off",
		"node/no-missing-import": ["warn", {
			"tryExtensions": [".ts", ".d.ts"]
		}],
		"array-bracket-newline": ["warn", { "multiline": false }],
		"array-element-newline": "off",
		"arrow-parens": ["warn", "as-needed"],
		"capitalized-comments": "off",
		"comma-dangle": ["warn", "always-multiline"],
		"consistent-return": "off",
		"dot-location": ["warn", "property"],
		"function-call-argument-newline": "off",
		"func-style": ["warn", "declaration", { "allowArrowFunctions": true } ],
		"id-length": "off",
		"lines-between-class-members": "off",
		"max-len": ["warn", 150],
		"max-lines": "off",
		"max-lines-per-function": "off",
		"max-statements": "off",
		"multiline-comment-style": ["warn", "separate-lines"],
		"multiline-ternary": "off",
		"no-console": "off",
		"no-prototype-builtins": "off",
		"no-tabs": "off",
		"no-ternary": "off",
		"no-trailing-spaces": ["warn", { "skipBlankLines": true }],
		"object-curly-spacing": ["warn", "always"],
		"object-property-newline": "off",
		"one-var":["warn", "never"],
		"padded-blocks": ["warn", "never"],
		"prefer-destructuring": ["warn", { "array": true, "object": false }],
		"quote-props": ["warn", "as-needed"],
		"require-unicode-regexp": "off",
		"sort-keys": "off",
		"space-in-parens": ["warn", "never"],
		"sort-imports": "off"
	}
}
